<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>appb2b1</key>
    <dict>
        <key>wallet</key>
        <string>//front-main.appb2b1.cloud.yoomoney.ru</string>
        <key>payments</key>
        <string>//sdk.front-pcidss.appb2b1.cloud.yookassa.ru:9491/</string>
        <key>moneyAuth</key>
        <string>//front-main.appb2b1.cloud.yoomoney.ru/</string>
        <key>config</key>
        <string>//front-main.appb2b1.cloud.yookassa.ru/</string>
    </dict>
    <key>appb2b2</key>
    <dict>
        <key>wallet</key>
        <string>//front-main.appb2b2.cloud.yoomoney.ru</string>
        <key>payments</key>
        <string>//sdk.front-pcidss.appb2b2.cloud.yookassa.ru:9491/</string>
        <key>moneyAuth</key>
        <string>//front-main.appb2b2.cloud.yoomoney.ru/</string>
        <key>config</key>
        <string>//front-main.appb2b2.cloud.yookassa.ru/</string>
    </dict>
    <key>px1</key>
    <dict>
        <key>wallet</key>
        <string>//front-main.px1.cloud.yoomoney.ru</string>
        <key>payments</key>
        <string>//sdk.front-pcidss.px1.cloud.yookassa.ru:9491/</string>
        <key>moneyAuth</key>
        <string>//front-main.px1.cloud.yoomoney.ru/</string>
        <key>config</key>
        <string>//front-main.px1.cloud.yookassa.ru/</string>
    </dict>
    <key>px2</key>
    <dict>
        <key>wallet</key>
        <string>//front-main.px2.cloud.yoomoney.ru</string>
        <key>payments</key>
        <string>//sdk.front-pcidss.px2.cloud.yookassa.ru:9491/</string>
        <key>moneyAuth</key>
        <string>//front-main.px2.cloud.yoomoney.ru/</string>
        <key>config</key>
        <string>//front-main.px2.cloud.yookassa.ru/</string>
    </dict>
    <key>px3</key>
    <dict>
        <key>wallet</key>
        <string>//front-main.px3.cloud.yoomoney.ru</string>
        <key>payments</key>
        <string>//sdk.front-pcidss.px3.cloud.yookassa.ru:9491/</string>
        <key>moneyAuth</key>
        <string>//front-main.px3.cloud.yoomoney.ru/</string>
        <key>config</key>
        <string>//front-main.px3.cloud.yookassa.ru/</string>
    </dict>
    <key>px4</key>
    <dict>
        <key>wallet</key>
        <string>//front-main.px4.cloud.yoomoney.ru</string>
        <key>payments</key>
        <string>//sdk.front-pcidss.px4.cloud.yookassa.ru:9491/</string>
        <key>moneyAuth</key>
        <string>//front-main.px4.cloud.yoomoney.ru/</string>
        <key>config</key>
        <string>//front-main.px4.cloud.yookassa.ru/</string>
    </dict>
</dict>
</plist>
